.filled {
  display: inline-block;
  margin: var(--base-gap-2-unit) var(--base-gap-2-unit);
  padding: var(--base-gap-2-unit) var(--base-gap-2-unit);
  background: var(--tag-color);
  font-size: var(--base-font-size-middle);
  border-radius: var(--base-border-radius);

  @media screen and (max-width: 414px) {
    margin: var(--base-gap-unit) var(--base-gap-unit);
    padding: var(--base-gap-unit) var(--base-gap-unit);
  }
}

.normal {
  display: inline-block;
  margin: var(--base-gap-unit) var(--base-gap-2-unit);
  padding: var(--base-gap-unit) var(--base-gap-2-unit);
  border: 1px solid var(--tag-color);
  color: var(--tag-color);
  font-size: var(--base-font-size-small);
  border-radius: var(--base-border-radius);

  @media screen and (max-width: 414px) {
    margin: var(--base-gap-unit) var(--base-gap-unit);
    padding: var(--base-gap-unit) var(--base-gap-unit);
  }
}

.less {
  display: inline-block;
  margin: var(--base-gap-unit) var(--base-gap-unit);
  padding: var(--base-gap-unit) var(--base-gap-unit);
  color: var(--tag-color);
  font-size: var(--base-font-size-small);
  border-radius: var(--base-border-radius);
  font-style: italic;

  @media screen and (max-width: 414px) {
    margin: var(--base-gap-unit) var(--base-gap-unit);
    padding: var(--base-gap-unit) var(--base-gap-unit);
  }
}
