.education {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.major {
  font-style: italic;
  color: gray;
  margin-left: var(--block-margin);
  font-size: var(--base-font-size-middle);
}
