.education {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 414px) {
    font-size: var(--base-font-size-middle);
  }
}

.major {
  font-style: italic;
  color: gray;
  margin-left: var(--block-margin);
  font-size: var(--base-font-size-middle);
}
