.header {
    font-weight: bold;

    & > span {
        margin-right: var(--inline-block-margin);
    }

    @media screen and (max-width: 414px) {
        width: 300px;

        & > span {
            display: block;
        }
    }
}

.job {
    & > span {
        margin-right: var(--inline-block-margin);
    }
}

.companyName {
    font-weight: normal;
    color: var(--period-sub-title-color);
}
