.timelineContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.yearContainer {
  display: flex;
}

.month-rect {
  width: 10px;
  height: 10px;
}

.jobName {
  font-size: 12px;
  width: 80px;
}
