.divider {
  margin: var(--block-margin) 0 0 0;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & > div {
  }

  h3 {
    margin: 12px 0;
  }
}

.section {
  margin: 10px 0;
  border: var(--base-gap-unit) solid var(--divider-border-color);
}
