.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    margin: var(--inline-block-margin);
  }

}

.subTitle {
  font-size: var(--base-font-size-small);
  margin-left: var(--base-gap-unit);
  font-style: italic;
}

.level {
  & > span {
    display: inline-block;
    margin: var(--base-gap-unit);
    width: 36px;
    height: 20px;
    background: gray;
  }

}

.levelName {
  font-size: var(--base-font-size-small);
  margin-left: var(--base-gap-unit);
}

.understand {
  & > span:nth-child(2) {
    background: transparent;
  }

  & > span:nth-child(3) {
    background: transparent;
  }
}

.familiar {
  & > span:nth-child(3) {
    background: transparent;
  }
}

.proficient {
  color: black;
}

.important {
  font-weight: bold;
}

.normal {
  color: gray;
  font-weight: bold;
}

.less {
  color: gray;
}
