.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span {
        margin: var(--inline-block-margin);
    }
}

.subTitle {
    font-size: var(--base-font-size-small);
    margin-left: var(--base-gap-unit);
    font-style: italic;
}
