.level {
  & > span {
    display: inline-block;
    margin: var(--base-gap-unit);
    width: 30px;
    height: 20px;
    background: gray;
    @media screen and (max-width: 414px) {
      width: 14px;
      height: 12px;
    }
    @media screen and (max-width: 1150px) {
      width: 24px;
      height: 16px;
      background: black;
    }
  }


}

.levelName {
  font-size: var(--base-font-size-small);
  margin-left: var(--base-gap-unit);
}

.empty {
  width: 28px !important;
  height: 18px !important;
  background: transparent !important;
  border: 1px solid gray;

  @media screen and (max-width: 414px) {
    width: 12px !important;
    height: 10px !important;
  }
  @media screen and (max-width: 1150px) {
    width: 22px !important;
    height: 14px !important;
    border: 1px solid black;
  }
}
