.period {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.job {
  font-weight: bold;

  & > span {
    margin-right: var(--inline-block-margin);
  }
}

.companyName {
  font-weight: normal;
  color: gray;
}

.times {
  & > span {
    display: inline-block;
    margin: 0 var(--inline-block-margin);
    min-width: 90px;
    text-align: right;
    font-style: italic;
    font-size: var(--base-font-size-middle);
  }
}

.keyword {
  display: inline-block;
  margin: var(--base-gap-2-unit) var(--base-gap-2-unit-2);
  padding: var(--base-gap-2-unit) var(--base-gap-2-unit-2);
  border: 1px solid gray;
  font-size: var(--base-font-size-middle);
  border-radius: var(--base-border-radius);
}
