.times {
    min-width: 150px;
    text-align: right;

    & > span {
        display: inline-block;
        margin: 0 0 0 var(--inline-block-margin);
        min-width: 60px;
        font-style: italic;
        font-size: var(--base-font-size-middle);
    }

    & > span:nth-child(2) {
        min-width: 10px;
    }

    @media screen and (max-width: 414px) {
        min-width: 90px;
        & > span {
            min-width: 60px;
            font-style: normal;
        }
    }
}
