.main {
  font-size: var(--base-font-size-large);
  padding: var(--page-padding);

  h5 {
    margin: calc(var(--base-gap-unit) * 2) calc(var(--base-gap-unit) * 8);
  }

  ul {
    margin: calc(var(--base-gap-unit) * 2) 0;
    padding-right: calc(var(--base-gap-unit) * 8);
  }

  @media screen and (max-width: 414px) {

    h5 {
      margin: calc(var(--base-gap-unit) * 2) calc(var(--base-gap-unit) * 2);
    }

    ul {
      padding: 0 0 0 calc(var(--base-gap-unit) * 12);
    }
  }
}

.description {
  margin: var(--block-margin);
}

.descriptionItem {
  margin-top: var(--block-padding);
}

.skills {
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: 23%;
    margin: var(--base-gap-unit) 1%;
  }


  @media screen and (max-width: 414px) {

    & > div {
      width: 48%;
      height: 40px;
    }
  }
}
