body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {

    --base-font-size-large: 20px;
    --base-font-size-middle: 16px;
    --base-font-size-small: 12px;
    --base-gap-unit: 2px;
    --base-gap-2-unit: 4px;
    --base-gap-small: 6px;
    --base-gap: 12px;
    --base-gap-large: 18px;


    --base-padding-small: var(--base-gap-small);
    --base-padding: var(--base-gap);
    --base-padding-large: var(--base-gap-large);

    --base-margin: var(--base-gap);
    --base-border-radius: var(--base-gap-2-unit);

    /**
     *  colors
     */
    --color-ash-gray: #B2BEB5;
    --color-blue-gray: #7393B3;
    --color-charcoal: #36454F;
    --color-dark-gray: #A9A9A9;
    --color-glaucous: #6082B6;
    --color-gray: #808080;
    --color-gunmetal-gray: #818589;
    --color-light-gray: #D3D3D3;
    --color-pewter: #899499;
    --color-platinum: #E5E4E2;
    --color-sage-green: #8A9A5B;
    --color-silver: #C0C0C0;
    --color-slate-gray: #708090;
    --color-smoke: #848884;
    --color-steel-gray: #71797E;
    /**
     * page(layout)
     */
    --page-background-color: 'white';
    --page-padding: var(--base-padding);
    --page-margin: var(--base-margin);


    /**
     * block
     */
    --block-padding: var(--base-padding);
    --block-margin: var(--base-margin);


    /**
     * inline-block
     */
    --inline-block-padding: var(--base-padding);
    --inline-block-margin: var(--base-gap-small);

    color: var(--color-charcoal);
    background-color: white;
    /**
     * tag
     */
    --tag-fill: var(--color-gray);
    --tag-color: white;

    /**
     * skill
     */
    --skill-name-color: var(--color-gray);
    --skill-level-fill: var(--color-gray);
    /**
     * education
     */
    --education-degree-color: var(--color-gray);
    /**
     * divider
     */
    --divider-border-color: var(--color-gray);
    /**
     * period
     */
    --period-sub-title-color: var(--color-gray);
    --period-background-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        color: white;
        background-color: black;
        /**
         * tag
         */
        --tag-fill: white;
        --tag-color: var(--color-gray);
        /**
         * skill
         */
        --skill-name-color: var(--color-gray);
        --skill-level-fill: var(--color-platinum);
        /**
         * education
         */
        --education-degree-color: var(--color-gray);
        /**
         * divider
         */
        --divider-border-color: var(--color-platinum);
        /**
         * divider
         */
        --period-sub-title-color: var(--color-gray);
        --period-background-color: rgba(255, 255, 255, 0.3);
    }
}

@media screen and (max-width: 414px ) {

    :root {
        --base-font-size-large: 16px;
        --base-font-size-middle: 14px;
        --base-font-size-small: 12px;
        --base-gap-unit: 2px;
        --base-gap-2-unit: 4px;
        --base-gap-small: 3px;
        --base-gap: 6px;
        --base-gap-large: 12px;

        --page-padding: var(--base-gap-large);
        --page-margin: var(--base-gap-large);
    }
}

@media screen and (max-width: 1150px ) {

    :root {
        --base-font-size-large: 16px;
        --base-font-size-middle: 14px;
        --base-font-size-small: 12px;
        --base-gap-unit: 2px;
        --base-gap-2-unit: 4px;
        --base-gap-small: 3px;
        --base-gap: 6px;
        --base-gap-large: 12px;

        --page-padding: var(--base-gap-large);
        --page-margin: var(--base-gap-large);
    }
}


/**
 * seems not working very well TODO need to make it working
 */
@page {
    size: 297mm 420mm; /* or size: 1123px 1588px; */
}
